/* Initialisation de mon site */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.fieldset{
    
    color:#ff006a;
}
.container{
    margin:19px auto;
    width:min(1196px,100%);
}
.container-box{
    gap:50px;
    padding-top: 15px;
}
.img{
    max-width:100%;
    display:block;
}.Box{
    border:solid 3px #070336;
    width:320px;
    display:flex;
    flex-direction: column;
    
}
.btn:hover{
    background-color: #070336;
    color:#ff006a;
}
.price, .Box img{
    margin-bottom: 30px;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.wrap{
    display:flex;
    flex-wrap: wrap;
}
.category,.name,.price{
    text-align: center;
    color:#070336;

}
.btn{
    
    background-color:#ff006a;
    border: 2px solid #070336;
    padding:20px;
    margin:0 auto;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: large;
    color:#070336;
    
}
/* header */

header css
.flex-one{
    display:flex;
 }

.header-ruban{
    background-color:#ff006a;
    text-align:center;
    font-size: 20px;
    margin: 15px;
}
a{
    color:white;
}
.header-nav {
    background-color: #070336;
    justify-content: space-around;
    padding: 50px 0;
}
.header-nav .nav-menu{
    width: min(400px, 100%);
    justify-content: space-around;
    font-size: clamp(15px,5vw,25px);
    align-items:center;
    margin-left: 150px;
}
.header-nav .nav-menu a{
   text-decoration: none;
}
.header-nav .nav-menu a:hover{
   color:#ff006a;
 }
 .header-nav .logo{
    width:50%;
 }
.header-nav .nav-icons{
width: 15%;
justify-content: center;
align-items: center;
}
.header-nav .nav-icons img {
    width: 40px;
}

/* fin header */
@media (max-width:1104px) {
    .caracteritic-box{
        display:flex;
        flex-direction: column;
    }
   .flex{
    gap:30px;
   }
    
}
