/* STANDARD */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font à déterminer */
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* programmation de variables pour les éléments qui se répètent */
    --color-darkblue : #070336;
    --color-poppink : #FF006A;
    --color-white: #ffffff;
}

img{
    max-width: 100%;
    display: block;
}

a{
    color: var(--color-white);
    text-decoration: none;
}


/* HEADER */

header{
    background-color: var(--color-darkblue);
    color: var(--color-poppink);
}

.header-ruban{
    background-color: var(--color-poppink);
    color: var(--color-darkblue);
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header-nav img{
    margin: 10px;
}

.nav-icons img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.nav-menu{
    gap: 55px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    font-weight: bold;
    color: var(--color-poppink);
}


/* MAIN */
main{
    width: min(1196px,100%);
    /* largeur fait 1196px, mais si dimension de l'écran passe en dessous, la largeur fera 100% de la dimention de l'écran par défaut */
    margin: 20px auto 0;
    /* auto s'applique à gauche et droite, 20px pour le haut et 100px pour le bas*/
}


/* BANNIERE ACCUEIL */
.banniere-bg{
    background: url(images/placeholder-banniere.jpg) no-repeat center/cover;
    height: 400px;
}



/* BIENVENUE SUR NOTRE E-SHOP */
#bienvenue{
    background-color: var(--color-darkblue);
    height: auto;
}

.bienvenue-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
}

.bienvenue-texte{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bienvenue-texte h1{
    color: var(--color-poppink);
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0;
}

.bienvenue-texte p{
    color: var(--color-white);
    font-size: 24px;
    font-weight: bold;
}

.bienvenue-bouton button{
    background-color: var(--color-poppink);
    color: var(--color-white);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


/* BEST-SELLERS CATEGORIES */

#categories{
    background-color: var(--color-poppink);
    height: auto;
}

#categories h2{
    color: var(--color-darkblue);
}

h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
}

.categories-bestsellers img{
    height: 200px;
    width: 200px;
    margin: 30px 0 50px;
}

.categories-bestsellers{
    display: flex;
    justify-content: space-around;
}


/* ACTUALITES */

#actualite{
    background-color: var(--color-darkblue);
    height: auto;
}

#actualite h2{
    color: var(--color-poppink);
}

.actualite-contenu{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

/* FOOTER */

footer{
    background-color: var(--color-poppink);
}

.footer-top{
    display: flex;
    justify-content: space-around;
}

footer h3{
    color: var(--color-darkblue);
    font-weight: bold;
    padding: 20px 0;
}

footer p{
    color: var(--color-white);
    padding: 10px 0;
    cursor: pointer;
}

.footer-newsletter, .footer-legal, .footer-menu, .nav-bottom-menu, .nav-legal, .footer-bottom{
    display: flex;
    flex-direction: column;
}

.footer-input{
    height: 10px;
    width: 10px;
}

.footer-menu, .footer-legal{
    align-items: center;
}

.footer-bottom img{
    height: 10%;
    width: 10%;
}

.footer-bottom{
    align-items: center;
    margin: 40px 0;
}



/*VERSION MOBILE */

@media (max-width:800px){


    .bienvenue-container, .categories-bestsellers{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .bienvenue-container{
        padding: 40px;
    }
    
    .bienvenue-texte{
        width: 90%;
        margin: 20px 0;
    }

    .actualite-video{
        width: 80%;
        height: 80%;
    }

    .footer-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

    }

    .footer-menu{
        display: none;
    }

}