/* GENERALITES */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    display: block;
    width: min(400px, 100%);
    margin: 0 auto;
}
main{
    margin: 19px auto;
}
:root{
    --color-pink: #FF006A;
    --color-blue: #070336;
    --color-white:white;
}

.blue {
    background-color:var(--color-blue);
}
.pink {
    background-color:var(--color-pink);
}

.flex{
    display: flex;
}

/* HEADER */

.header-ruban{
    background-color: var(--color-pink);
}

/*HEADER */

.header-ruban{
    background-color: var(--color-pink);
    text-align:center;
    font-size: 20px;
    margin: 15px;
}
.header-nav {
    background-color: var(--color-blue);
    justify-content: space-around;
    padding: 50px 0;
}
.header-nav .nav-menu{
    width: min(450px, 100%);
    justify-content: space-around;
    font-size: clamp(15px,5vw,25px);
    align-items:center;
    margin-left: 150px;
    gap: 50px;
}
.header-nav .nav-menu a{
   text-decoration: none;
   padding: 5px;
}
.header-nav .nav-menu a:hover{
   color: var(--color-pink);
 }
 .header-nav .logo{
    width:30%;
 }
.header-nav .nav-icons{
width: 15%;
justify-content: center;
align-items: center;
}
.header-nav .nav-icons img {
    width: 40px;
}

/*MAIN*/
h1{
    width: 30%;
    text-align:center;
    margin: 0 auto 15px;
    padding: 20px;
    color:var(--color-white);
}

.categories{
    margin-top:150px;
    gap: 50px;
    justify-content:space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--color-white);
    text-align:center;
    gap: 30px;
    font-size: 35px;
}
hr{
    margin-top: 150px;
    color: var(--color-blue);
    border: var(--color-blue) 3px solid;

}

/* VERSION MOBILE */ 

@media (max-width:800px){
    main{
        flex-wrap: wrap;
    }
    .categories{
        flex-direction: column;
    }
        h1{
            width: 50%;
        }
}