/* GENERALITES  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font à déterminer */
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-poppink);
}

:root{
    /* programmation de variables pour les éléments qui se répètent */
    --color-darkblue : #070336;
    --color-poppink : #FF006A;
    --color-white: #ffffff;
    --color-black: black;
}
p{
    font-family: muli, sans-serif;
    font-size: 18px;
}
a, p, h1, h2, h3, label, td, button{
    color: var(--color-white);
}
a:hover{
    color:var(--color-poppink);
}
button{
    background-color: var(--color-poppink);
}
.blue {
 background-color: var(--color-darkblue);
}
.pink {
    background-color: var(--color-poppink);
 }
 .flex{
    display:flex;
 }

/*HEADER */

.header-ruban{
    background-color: var(--color-pink);
    text-align:center;
    font-size: 20px;
    margin: 15px;
}
.header-nav {
    background-color: var(--color-darkblue);
    justify-content: space-around;
    padding: 50px 0;
}
.header-nav .nav-menu{
    width: min(400px, 100%);
    justify-content: space-around;
    font-size: clamp(15px,5vw,25px);
    align-items:center;
    margin-left: 150px;
}
.header-nav .nav-menu a{
   text-decoration: none;
}
.header-nav .nav-menu a:hover{
   color: var(--color-poppink);
 }
 .header-nav .logo{
    width:50%;
 }
.header-nav .nav-icons{
width: 15%;
justify-content: center;
align-items: center;
}
.header-nav .nav-icons img {
    width: 40px;
}


/* MAIN */
main{
    width: min(1196px,100%);
    /* largeur fait 1196px, mais si dimension de l'écran passe en dessous, la largeur fera 100% de la dimention de l'écran par défaut */
    margin: 20px auto 0;
    /* auto s'applique à gauche et droite, 20px pour le haut et 100px pour le bas*/
    background-color: var(--color-poppink);
}


h1 {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}
a, td, label{
    font-size: 20px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column; 
}
button{
    font-weight: bold;
}


/* SECTION PANIER LIVRAISON */

#panier-livraison{
    gap: 40px;
}

/*BLOC PANIER */

#panier-livraison, #promo-total{
    min-height: 100px;
    margin: 50px auto;
    padding: 50px;
}

#bloc-panier .image-article {
    margin-right: 20px;
}

#bloc-panier{
    width: 70%;
}
.bloc-description-prix {
    justify-content: space-between;
}

/*  BLOC LIVRAISON */

#bloc-livraison {
    width: 30%;
    padding-left:25px;
    border-left: var(--color-white) 2px solid;
}

.sous-bloc-livraison{
    justify-content: space-between;
    min-height: 87%;
}
.etape-modalites .checkbox-livraison{
    margin-right: 10px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 5px solid white;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
    
.checkbox-livraison:checked{
        background-color: var(--color-poppink);
    }

.etape-modalites .bouton-commander{
    padding:10px;
    font-size: 16px;
    margin-top: 20px;
    
}
/*CODE PROMO */

#promo-total hr{
    margin: 30px 0;
    border: var(--color-white) solid 1px;
}
#promo-total h3{
    margin-bottom: 10px;
}
#promo-total form{
    gap: 30px;
}
#promo-total form input{
    padding:8px;
    border: none;
}
#promo-total form button{
    padding:5px 20px;
}
#montant-panier table tbody tr td{
    padding: 10px 180px 10px 0;
    text-align: right;
}


/* FOOTER */

footer{
    background-color: var(--color-poppink);
}

.footer-top{
    display: flex;
    justify-content: space-around;
}

footer h3{
    font-weight: bold;
    padding: 20px 0;
}

footer a{
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 0;
}

.footer-newsletter, .footer-legal, .footer-menu, .nav-bottom-menu, .nav-legal, .footer-bottom{
    display: flex;
    flex-direction: column;
}

.footer-input{
    height: 10px;
    width: 10px;
}
.footer-input input{
    padding: 10px 0;
}
.footer-input button{
    padding: 10px 0;
}
.footer-input button{
  margin: 0 auto;
}

.footer-menu, .footer-legal{
    align-items: flex-start;
}
.footer-bottom img{
    height: 100%;
    width: 20%;
}

.footer-bottom{
    align-items: center;
    margin: 40px 20px;
}

/* FIN CODE JULIE */

/*VERSION MOBILE */

@media (max-width:800px){



    .footer-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

    }

    .footer-menu{
        display: none;
    }

}


/*VERSION MOBILE */

@media (max-width:800px){
    #panier-livraison{
        flex-direction: column;
    }
    #bloc-panier, #bloc-livraison{
        border: var(--color-white) solid 2px;
        width:100%;
        padding: 0;
    }
    #bloc-panier h2, #bloc-livraison h2 {
        padding: 15px;
    }
    #bloc-panier .sous-bloc-panier{
        padding:15px;
    }
    #bloc-livraison .sous-bloc-livraison{
        padding:15px;
    }
    .etape-modalites .bouton-commander{
        width: 40%;
        margin-bottom:20px;
    
    }
}

